.header-nav {
    background-color: #606060;
    box-shadow: 0 2px 2px 0 rgba(152, 149, 149, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.header-inner {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
    font-size: 23px;
    line-height: 28px;
    font-weight: bolder;
}

canvas {
    width: 60%!important;
    margin: 0 auto 70px auto;
}

.nav-link {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

.text {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

.dropdown-menu {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

.responsive-op {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

