.header-nav {
    background-color: #606060;
    box-shadow: 0 2px 2px 0 rgba(152, 149, 149, 0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.header-inner {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
    font-size: 23px;
    line-height: 28px;
    font-weight: bolder;
}

canvas {
    width: 60%!important;
    margin: 0 auto 70px auto;
}

.nav-link {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

.text {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

.dropdown-menu {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

.responsive-op {
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}



/* Loading */

/*#loading {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    transition: all 1s;*/
/*    background-color: #808080;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 9999;*/
/*}*/

/*.loader {*/
/*    margin: 50px;*/
/*	width: 100px;*/
/*	height: 100px;*/
/*	position: relative;*/
/*	transform-style: preserve-3d;*/
/*	transform: rotateX(-10deg) rotateY(-25deg);*/
/*	animation: cube-animation 5s linear 0s infinite;*/
/*}*/

/*.loader div {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*}*/
/* front */
/*.loader div:nth-child(1) {*/
/*	background: rgba(255, 127, 127,.7);*/
/*	transform: translateZ(100px);*/
/*}*/

 /* back */
/*.loader div:nth-child(2) {*/
/*	background: rgba(255, 127, 255,.7);*/
/*	transform: rotateY(180deg) translateZ(100px);*/
/*}*/

/* right */
/*.loader div:nth-child(3) {*/
/*	background: rgba(127, 127, 255,.7);*/
/*	transform: rotateY(90deg) translateZ(100px);*/
/*}*/

/* left */
/*.loader div:nth-child(4) {*/
/*	background: rgba(127, 255, 255,.7);*/
/*	transform: rotateY(-90deg) translateZ(100px);*/
/*}*/

/* top */
/*.loader div:nth-child(5) {*/
/*	background: rgba(191, 255, 127,.7);*/
/*	transform: rotateX(90deg) translateZ(100px);*/
/*}*/

/* bottom */
/*.loader div:nth-child(6) {*/
/*	background: rgba(255, 191, 127,.7);*/
/*	transform: rotateX(-90deg) translateZ(100px);*/
/*}*/

/*@keyframes cube-animation {*/
/*    from {*/
/*        transform: rotate3d(.5,.5,.5, 360deg);}*/
/*    to {*/
/*        transform: rotate3d(0deg);}*/
/*}*/

/*.loaded {*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/