@charset "UTF-8";



h3{
    color: #212121;
    padding-left: 20px;
    padding-top: 20px;
}

.form-about form input{
    width: 260px;
    height: 100%;
    display: block;
    padding: 20px 20px 20px 70px;
    font-size: 20px;
    background-color: #ddd;
    position: absolute;
    right: 20px;
}

.form-about form input::placeholder{
    font-size: 20px;
    position: relative;
}

.form-about form{
    display: block;
    position: relative;
    height: 40px;
    /*background-color: blue;*/
}

.form-about form .placeholder_img{
    display: inline;
    position: absolute;
    right: 240px;
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
    background-color: #ddd;
    width: 30px;
    height: 30px;
}

table{
    border-collapse: collapse;
    margin: 20px 50px 50px;
}

table th{
    border-bottom: 2px #212121 solid;
    padding:10px;
}

tr:nth-child(odd){
    background-color: #ddd;
}

th,td{
    padding: 5px 10px;
}

/*.edit_create{*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    left: 200px;*/
/*    background-color: red;*/
/*    border-bottom-color: #fff;*/
/*}*/

a.btn--edit{
    color: #404040;
    font-weight: bold;
    background-color: #ddd;
    padding: 15px;
    margin-left: 20px;
    display: block;
    position: absolute;
    right: 180px;
    /*border-bottom-color: red;*/
}

a.btn--create{
    color: #404040;
    font-weight: bold;
    background-color: #ddd;
    padding: 15px;
    margin-left: 20px;
    display: block;
    position: absolute;
    right: 80px;
}



/*以下"create.blade.php"*/

.category_id{
    padding-left: 20px;
    padding-top: 20px;
}

.category_id select{
    /*background-color: aqua;*/
    height: 50px;
    font-size: 25px;
    margin: 0.5rem 0;
}

.name{
    padding-left: 20px;
}

.name input{
    display: inline-block;
    width: 500px;
    padding: 0.6rem;
    border: 1px solid #000;
    box-sizing: border-box;
    /*background: blue;*/
    margin: 0.5rem 0;
    font-size: 25px;
}

.unit_price{
    padding-left: 20px;
}

.unit_price input{
    display: inline-block;
    width: 200px;
    padding: 0.7rem;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0.5rem 0;
    font-size: 23px;
}

.quantity{
    padding-left: 20px;
    
}

.quantity input{
    display: inline-block;
    width: 200px;
    padding: 0.7rem;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0.5rem 0;
    font-size: 23px;
}

.product_code{
    padding-left: 20px;
}

.product_code input{
    display: inline-block;
    width: 200px;
    padding: 0.7rem;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0.5rem 0;
    font-size: 23px;
}

.submit{
    /*background-color: red;*/
    display: block;
    position: relative;
    border: 1px solid #000;
    width: 90px;
    height: 40px;
    font-size: 25px;
    margin: 20px 0 10px 80%;
 }

.back{
    display: block;
    position: relative;
    width: 90px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 20px;
    margin: 20px 0 20px 80%;
    padding: 5px 0;
    text-align: center;
}


/*以下edit.blade.php*/

.check input {
    background-color: red;
    
}
